flows.json
[
    {
        "id": "01221ebba0483f4d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2f82aa3593216042",
        "type": "http response",
        "z": "01221ebba0483f4d",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "01bf347e71b21081",
        "type": "debug",
        "z": "01221ebba0483f4d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "05867b74ea2455ac",
        "type": "http in",
        "z": "01221ebba0483f4d",
        "name": "Receive Telemetry",
        "url": "/api/sensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "f45e2fee9794a0ef"
            ]
        ]
    },
    {
        "id": "f45e2fee9794a0ef",
        "type": "function",
        "z": "01221ebba0483f4d",
        "name": "function 1",
        "func": "msg.payload = {\n    \"name\": \"nabilah\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "2f82aa3593216042",
                "01bf347e71b21081"
            ]
        ]
    }
]